*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(142, 154, 175);
}

.header-back {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    background-color: rgb(142, 154, 175);
    padding-top: 17px;
    padding-bottom: 17px;
    width: 50%;
}

.header-back h1{
    margin-left: 22%;
    text-align: left;
}

.header img{
    width: 60px;
    position: absolute;
    top: 0.75%;
    left: 4%;
}

.header-h2 {
    background-color: rgb(239, 211, 215);
}

.header-back-h2{
    font-size: 18px;
    background-color: rgb(239, 211, 215);
    text-align: right;
    margin-right: 3%;
}
